.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

body {
  background-image: url("/public/Airplane2.jpg");
  background-position: center;
  height: auto;
  margin: 0;
  padding: 0;
}

.header {
  background-color: #f8f9fa;
  padding: 30px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header h1 {
  font-size: 40px;
  text-decoration: none;
  margin: 0;
}

.nav {
  display: flex;
  gap: 20px;
}

.nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 30px;
}

.nav a {
  background-color: #2a8dbb;
  color: white;
  padding: 10px 20px;
  border-radius: 15px;
  text-decoration: none;
  display: inline-block;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.nav a:hover {
  background-color: #226b8d;
}

.homeBox {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  max-width: 600px;
  margin: 30px auto;
  margin-top: 120px;
  text-align: center;
}

.welcomeImage {
  border-radius: 10px;
  margin-bottom: 5px;
}

h1 {
  font-size: 34px;
  text-decoration: underline;
  margin: 0;
}

.cityBox {
  background-color: white;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  max-width: 600px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 30px;
  text-align: center;
}

ul {
  list-style: none;
  margin-top: 30px;
  padding: 0px;
}

.button {
  background-color: #2a8dbb;
  color: white;
  margin-bottom: 20px;
  padding: 10px 20px;
  border-radius: 15px;
  text-decoration: none;
  display: inline-block;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.button:hover {
  background-color: #226b8d;
}

.button2 {
  background-color: #2a8dbb;
  color: white;
  margin-top: 20px;
  padding: 10px 20px;
  border-radius: 15px;
  text-decoration: none;
  display: inline-block;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.button2:hover {
  background-color: #226b8d;
}

.deleteButton {
  background-color: #d23330;
  color: white;
  margin-bottom: 15px;
  padding: 10px 20px;
  border-radius: 15px;
  text-decoration: none;
  display: inline-block;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.deleteButton:hover {
  background-color: #aa2222;
}

.cityBox form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.cityBox label {
  font-weight: bold;
  margin-bottom: 5px;
}

.cityBox input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
}

.addButton {
  background-color: #0866ca;
  color: white;
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 15px;
  text-decoration: none;
  display: inline-block;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.addButton:hover {
  background-color: #0056b3;
}
